In [1]:
## Introduction to Tuples
# - It is immutable
# - ()

In [3]:
# creating tupple
tup=()
print(tup)
print(type(tup))

()
<class 'tuple'>

In [11]:
tp=tuple()
print(type(tp))
ls=list()
print(type(ls))

<class 'tuple'>
<class 'list'>

In [15]:
lst=[]
print(type(lst))

<class 'list'>

In [16]:
tup=()
print(type(tup))

<class 'tuple'>

Type Conversion

In [21]:
num = tuple([1,2,3,4,5,6])
num
print(type(num))

<class 'tuple'>

In [28]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

Different datatypes in one tuple

In [29]:
mix_tup = (1,"Hello World", 3.14, True)
print(mix_tup)

(1, 'Hello World', 3.14, True)

In [31]:
#Accessing Tuple Elements
num

(1, 2, 3, 4, 5, 6)

In [32]:
print(num[2])

3

In [33]:
print(num[:5])

(1, 2, 3, 4, 5)

In [34]:
print(num[2:4])

(3, 4)

In [35]:
print(num[::2])

(1, 3, 5)

In [36]:
print(num[::-1])

(6, 5, 4, 3, 2, 1)

In [39]:
# tuple Operations--> Concatenation

num + mix_tup

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [40]:
mix_tup*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [44]:
# Immutable nature of tuple
lst=[1,2,3,4,5]
print(lst)
lst[1]="Rana"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Rana', 3, 4, 5]

In [49]:
tup=(1,2,3,4,5)
print(tup)
tup[3]="Rana"
print(tup)
#Immutable --> Example of  Tuples

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [56]:
num = tuple([1,4,2,3,4,4,5,6])
## Tuple Methods
print(num.count(4)) #Count of 4 in tupple

3

In [58]:
print(num.index(5))

6

In [64]:
## packing and Unpacking tuple
# Packing-->

packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [69]:
# Unpacking -->
a,b,c = packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [72]:
# Unpacking with * 
ele = (1,2,3,4,56,7,56,6,76,72)
first,*middle,last = ele
print(first)
print(middle)
print(last)

1
[2, 3, 4, 56, 7, 56, 6, 76]
72