In [12]:
def mul(x):
    return x*x

mul(22)

484

In [14]:
# with lambda
num = [1,2,3,5,6,7,8,9]
list(map(lambda x:x*x, num))

[1, 4, 9, 25, 36, 49, 64, 81]

In [13]:
# only map
list(map(mul, num))

[1, 4, 9, 25, 36, 49, 64, 81]

In [16]:
# map Multiple Iterables

num1=[1,23,4,5,6]
num2=[7,54,6,3,32]

add=list(map(lambda x,y:x+y, num1, num2))
print(add)

[8, 77, 10, 8, 38]

In [18]:
## map() to convert list of Strings to int

str1 = ['3','4','5','7']
change_to_int = list(map(int , str1))
print(change_to_int)

[3, 4, 5, 7]

In [23]:
words = ["kiwi","apple","Mango","cherry"]
change_to_uppr = list(map(str.upper, words))
print(change_to_uppr)

['KIWI', 'APPLE', 'MANGO', 'CHERRY']

In [25]:
## 
def get_name(person):
    return person['name']

people =[
    {'name':'Krish',"age":23},
    {'name':'KrishNaik',"age":3}
]
list(map(get_name,people))

['Krish', 'KrishNaik']