# sets
- Unique Elements
- Unordered -> not in specific order
- no duplication

In [8]:
## creation
st = {1,2,3,4,5}
print(st)
print(type(st))

{1, 2, 3, 4, 5}
<class 'set'>

In [11]:
emp_st = set()
print(emp_st)

set()

In [13]:
temp_st = set({1,2,3,4})
print(temp_st)

{1, 2, 3, 4}

In [15]:
# TypeCast
temp_st = set((1,2,3,4))
print(temp_st)

{1, 2, 3, 4}

In [17]:
set = {1,2,3,4,5,6,7,8,9}

# Basic Set Operations->
Adding And Removing Elements

In [18]:
set.add(69) ## Add Elements
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 69}

In [19]:
set.remove(69) ## Remove elements
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
## as 100 is not present in the set so this
## will lead to an error 
set.remove(100) 
# key Error

KeyError: 100

What if we have an element and we want
to remove the element but if it is not present in the list no erro should be thrown

# discard()

In [25]:
set.discard(202)
# no error

In [27]:
# pop method

set.pop()
print(set)
# it took the first element from the set and
# remove that

{2, 3, 4, 5, 6, 7, 8, 9}

In [29]:
pet={1,2,3,4,5,56,6,7}
pet.clear()
print(pet)

set()

In [33]:
# Set Membership test
# -->element belong to it or not>>
set = {1,2,3,4,5,6,7,8,9}
print(3 in set)
print(33 in set)

True
False

In [40]:
# maths ops
set1 = {1,2,3,4,5,6,7,8,9}
set2 = {1,2,3,4,33,44,55,68}

## union
uni=set1.union(set2)
print(uni)

## intersection
inti=set1.intersection(set2)
print(inti)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 33, 68, 44, 55}
{1, 2, 3, 4}
{1, 2, 3, 4}

In [45]:
set1 = {1,2,3,4,5,6,7,8,9}
set2 = {1,2,3,4,33,44,55,68}

#difference
print(set1.difference(set2))
print(set2.difference_update(set1))
print(set2.difference(set1))

{5, 6, 7, 8, 9}
None
{33, 68, 44, 55}

In [46]:
print(set1.symmetric_difference(set2))

{33, 1, 2, 68, 3, 4, 5, 6, 7, 8, 9, 44, 55}

In [51]:
## sets methods
st1={1,2,5,3,4}
st2={5,4,3}
# is subset
print(st1.issubset(st2))


print(st1.issuperset(st2))

False
True

In [62]:
print(set)  # This should print <class 'set'>

{1, 2, 3, 4, 5, 6, 7, 8, 9}