## SQL and SQlite

#### __SQL__ is a standard language for managing and manipulating relational Databases

#### __SQLite__ is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database system

In [2]:
import sqlite3

In [3]:
## Connect To SQLite database
connection=sqlite3.connect('example.db')
connection

In [4]:
## Creating Cursor Obj for iterating through table items
cursor = connection.cursor()

In [5]:
## Creating Table
cursor.execute('''
CREATE TABLE IF NOT EXISTS EMPLOYEES(
    ID Integer Primary Key,
    Name Text NOT NULL,
    Age Integer,
    Department Text
    )
''')

## Commit the changes 
connection.commit()

In [6]:
cursor.execute('''
SELECT * FROM EMPLOYEES
''')

In [7]:
### INSERT DATA IN SQLite TABLE 
cursor.execute('''
INSERT INTO EMPLOYEES(ID,Name,Age,Department)
               values(1324,"Suryansh Rana",21,'Machine Learning')
''') 
cursor.execute('''
INSERT INTO EMPLOYEES(ID,Name,Age,Department)
               values(5324,"Kanu Rana",24,'Machine Learning')
''') 
cursor.execute('''
INSERT INTO EMPLOYEES(ID,Name,Age,Department)
               values(1624,"kusum Rana",42,'IT')
''') 
cursor.execute('''
INSERT INTO EMPLOYEES(ID,Name,Age,Department)
               values(3524,"Rio Rana",49,'Machine Learning')
''') 

## commiting code
connection.commit()

In [17]:
## Querying the data from the table in SQLite

cursor.execute("Select * from Employees")
rows = cursor.fetchall()
## print Queried data
for row in rows:
    print(row)

(1324, 'Suryansh Rana', 23, 'Machine Learning')
(1624, 'kusum Rana', 42, 'IT')
(3524, 'Rio Rana', 49, 'Machine Learning')
(5324, 'Kanu Rana', 24, 'Machine Learning')

In [16]:
## Update The Data in Table
cursor.execute('''
UPDATE employees
Set age = 23
WHERE name = "Suryansh Rana"
               
''')
## Commit 
connection.commit()

In [18]:
## Delete Data From the Table 
cursor.execute('''
Delete from employees
               where name = "Kanu Rana"
''')
connection.commit()

In [19]:
cursor.execute("Select * from Employees")
rows = cursor.fetchall()
## print Queried data
for row in rows:
    print(row)

(1324, 'Suryansh Rana', 23, 'Machine Learning')
(1624, 'kusum Rana', 42, 'IT')
(3524, 'Rio Rana', 49, 'Machine Learning')

In [21]:
## Working Wwith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data) # adding data like list

connection.commit()

In [22]:
cursor.execute("Select * from sales")
rows = cursor.fetchall()
## print Queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [23]:
## close the connection
connection.close()

In [24]:
cursor.execute() #connection is closed

TypeError: execute expected at least 1 argument, got 0