In [1]:
## this is single Line comment-->

SYNTAX AND SEMANTICS

In [2]:
'''
Welcome
this is Python tut
'''

'\nWelcome\nthis is Python tut\n'

In [3]:
print("Hello World")

Hello World

In [4]:
## Case Sensitivity - Python is case sensitive Programming Language

In [5]:
## variables

name = "Suryansh"
Name="Suryansh_Rana" # Case Sensitive 

print(name)
print(Name)

Suryansh
Suryansh_Rana

In [ ]:
## Indentation 
## it describe the structure of code

In [7]:
age = 33
if age>18:
    print("User Suryansh is Not Nabalik")
print(age)

User Suryansh is Not Nabalik
33

In [9]:
## Line Continuation
## Use a BackSlash (\) to continue a 
## Statement to the NEXT LINE

total = 1+2+3+4+5+ \
4+5+6

print(total)

30

In [10]:
## Multiple Statements on a Single Line
x=5;y=10;z=x+y
print(z)

15

In [ ]:
## SEMANTICS
## Variables assignments
age = 34 ## age is an integer
name = "Suryansh Rana"

In [14]:
type(age)

int

In [15]:
## Type Inference
type(name)

str

In [16]:
var=10
print(type(var))
var="Rana"
print(type(var))
print("You can see the var latest Value")
print(var)

<class 'int'>
<class 'str'>
You can see the var latest Value
Rana

In [17]:
a=b

NameError: name 'b' is not defined

In [20]:
## code Example of Indentation
if True:
    print("This is True")
    if False:
        print("This is False")
    print("Second IF Stmt")
print("First IF Stmt ")

This is True
Second IF Stmt
First IF Stmt